:root {
  --main-title-color: #212121;
  --second-text-color: #757575;
  --background-btn-logo-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --main-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --btn-hover-color: #188ce8;
  --default-lh: 1.14; /*16px*/
  --default-section-padding: 94px;
}

/* ----------------------------- RESET CSS  start -------------------------------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* ----------------------------- RESET CSS end  -------------------------------- */

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
  background-color: var(--background-btn-logo-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------- HEADER -------------------------------- */
.header {
  height: 80px; /*без задання висоти секції не вдавалося зробити заміри як у макеті = 80px, було +1px */
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  display: inline-block;
  padding-top: 24px;
  margin-right: 93px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.header-logo span {
  color: var(--accent-color);
}

.header-list,
.header-sublist {
  display: flex;
  gap: 50px;
}

.header-link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--default-lh);
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-link.link-current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail,
.header-phone {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--default-lh);
  letter-spacing: 0.02em;
  color: var(---secondcolor);
}

.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}

/* ------------------------------- HERO ---------------------------------- */
.hero {
  padding: 200px 0;
  background-color: var(--main-background-color);
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-btn-logo-color);
}

.hero-btn {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--background-btn-logo-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-hover-color);
}

/* ------------------------------- ADVANTAGES ---------------------------------- */

.advantages {
  padding-top: var(--default-section-padding);
  padding-bottom: var(--default-section-padding);
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-item {
  max-width: 270px;
}

.advantages-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: var(--default-lh);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* ------------------------------- SERVICES ---------------------------------- */
.services {
  padding-bottom: var(--default-section-padding);
}

.services-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.services-list {
  display: flex;
  gap: 30px;
}
.services-item img {
  display: block;
}

/* --------------------------------- TEAM ------------------------------------ */
.team {
  padding-top: var(--default-section-padding);
  padding-bottom: var(--default-section-padding);
  background-color: var(--team-background-color);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  background-color: var(--background-btn-logo-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item > img {
  display: block;
}

.team-subtitle {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* --------------------------------- FOOTER ------------------------------------ */

.portfolio {
  padding-top: var(--default-section-padding);
  padding-bottom: var(--default-section-padding);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-btn {
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: var(--team-background-color);
  border: none;
  border-color: transparent;
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--background-btn-logo-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-sublist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-sublist img {
  display: block;
}

.portfolio-sublist-item {
  flex-basis: calc(100% / 3 - 30px);
}

.portfolio-sublist-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-sublist-wrapper {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* --------------------------------- FOOTER ------------------------------------ */
.footer {
  padding: 60px 0;
  background-color: var(--main-background-color);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background-btn-logo-color);
}

.footer-logo span {
  color: var(--accent-color);
}

.footer-address {
  font-style: normal;
}

.footer-address-link {
  display: inline-block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-btn-logo-color);
}

.footer-mail,
.footer-tel {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--transparent-color);
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-address-link:hover,
.footer-address-link:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
